<div class="min-h-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300">
  <header class="fixed w-full z-50 bg-white/80 dark:bg-gray-900/80 backdrop-blur-md border-b dark:border-gray-800">
    <nav class="container mx-auto px-6 py-4 relative">
      <div class="grid grid-cols-2 lg:grid-cols-3 items-center">

        <div class="flex justify-start">
          <h1
            class="text-xl md:text-2xl font-bold bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent whitespace-nowrap cursor-pointer">
            {{ 'role' | translate }}.
          </h1>
        </div>

        <div class="hidden lg:flex justify-center items-center space-x-8 font-medium">
          <a (click)="homeAndScrollToElementById('about')" class="nav-link hover:text-blue-500 transition cursor-pointer">About</a>
          <a (click)="homeAndScrollToElementById('experience')" class="nav-link hover:text-blue-500 transition cursor-pointer">Experience</a>
          <a (click)="homeAndScrollToElementById('projects')" class="nav-link hover:text-blue-500 transition cursor-pointer">Projects</a>
        </div>

        <div class="flex justify-end items-center gap-2 md:gap-3">
          <div class="flex gap-2">
            <button (click)="toggleDarkMode()" class="btn-icon rounded-full bg-gray-100 dark:bg-gray-800 hover:ring-2 ring-blue-400 transition-all w-10 h-10">
              {{ isDarkMode ? '🌙' : '☀️' }}
            </button>
            <button (click)="toggleLang()" class="btn-icon text-xs font-black rounded-full bg-gray-100 dark:bg-gray-800 hover:ring-2 ring-blue-400 transition-all w-10 h-10">
              {{ lang === 'vi' ? 'VI' : 'EN' }}
            </button>
          </div>

          <button (click)="toggleMenu()" class="lg:hidden p-2 text-gray-600 dark:text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    [attr.d]="isMenuOpen ? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16M4 18h16'"/>
            </svg>
          </button>
        </div>
      </div>

      <div [ngClass]="isMenuOpen ? 'max-h-64 opacity-100 mt-4' : 'max-h-0 opacity-0 overflow-hidden'"
           class="lg:hidden transition-all duration-300 ease-in-out border-t dark:border-gray-800 lg:border-none">
        <div class="flex flex-col space-y-4 py-4 font-medium">
          <a href="#about" (click)="isMenuOpen = false" class="hover:text-blue-500 transition">About</a>
          <a href="#projects" (click)="isMenuOpen = false" class="hover:text-blue-500 transition">Projects</a>
          <a href="#contact" (click)="isMenuOpen = false" class="hover:text-blue-500 transition">Contact</a>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>

  <footer class="py-10 border-t dark:border-gray-800 text-center">
    <p class="text-gray-500">© Nguyễn Minh Lượng - Software Engineer.</p>
  </footer>
</div>

<!--<header class="fixed w-full z-50 bg-white/80 dark:bg-gray-900/80 backdrop-blur-md border-b dark:border-gray-800">-->
<!--  <nav class="container mx-auto px-6 py-4 grid grid-cols-3 items-center relative">-->

<!--    <div class="flex justify-start">-->
<!--      <h1 class="text-2xl font-bold bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent whitespace-nowrap">-->
<!--        {{ 'role' | translate }}.-->
<!--      </h1>-->
<!--    </div>-->

<!--    <div class="hidden md:flex justify-center items-center space-x-8 font-medium overflow-hidden px-4">-->
<!--      <a href="#about" class="hover:text-blue-500 transition whitespace-nowrap">About</a>-->
<!--      <a href="#projects" class="hover:text-blue-500 transition whitespace-nowrap">Projects</a>-->
<!--      <a href="#contact" class="hover:text-blue-500 transition whitespace-nowrap">Contact</a>-->
<!--    </div>-->

<!--    <div class="flex justify-end gap-2 shrink-0">-->
<!--      <button-->
<!--        (click)="toggleDarkMode()"-->
<!--        class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-100 dark:bg-gray-800 hover:ring-2 ring-blue-400 transition-all"-->
<!--      >-->
<!--        <span class="text-xl font-bold leading-none">-->
<!--          {{ isDarkMode ? '🌙' : '☀️' }}-->
<!--        </span>-->
<!--      </button>-->
<!--      <button-->
<!--        (click)="toggleLang()"-->
<!--        class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-100 dark:bg-gray-800 hover:ring-2 ring-blue-400 transition-all"-->
<!--      >-->
<!--        <span class="text-xs font-bold leading-none uppercase">-->
<!--          {{ lang === 'vi' ? 'VI' : 'EN' }}-->
<!--        </span>-->
<!--      </button>-->
<!--    </div>-->

<!--  </nav>-->
<!--</header>-->
